body {
    background-image: url(./images/cafe.jpg);
    margin: 0;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    background: none;
    color: white;
}

button:hover {
    text-decoration: underline;
}